<mat-card>
    <mat-card-content>
        <mat-toolbar color="primary">
            <span>Ramal</span>
        </mat-toolbar>
        <div class="mat-elevation-z8">
            <app-ramais-lis-table *ngIf="$dataSource | async as ramaisList; else elseBlock"
                [ramaisListTable]="ramaisList" (eventRamaisList)="addList()"></app-ramais-lis-table>
            <ng-template #elseBlock>
                <div class="loading-spinner">
                    <mat-spinner></mat-spinner>
                </div>
            </ng-template>
        </div>
    </mat-card-content>
</mat-card>