<mat-card>
    <mat-card-content>
        <mat-toolbar color="primary">
            <span>Ramal</span>
        </mat-toolbar>
        <div classe="column-flex" class="mat-elevation-z8">
            <app-ramais-list *ngIf="$dataSource | async as ramaisList; else elseBlock" [ramaisListTable]="ramaisList"
                (eventAddRamaisList)="addList()" (eventEditRamaisList)="editRamais($event)"
                (eventDeleteRamaisList)="deleteRamais($event)"></app-ramais-list>
            <ng-template #elseBlock>
                <div class="loading-spinner">
                    <mat-spinner></mat-spinner>
                </div>
            </ng-template>
        </div>
    </mat-card-content>
</mat-card>